@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap");
/*root*/
:root {
  --AymenFont: "Sora", sans-serif;
  --regular: 400;
  --bold: 600;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: whitesmoke;
  font-family: var(--AymenFont);
}
.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50em 50em;
  grid-template-rows: 50em 50em;
  gap: 0px 0px;
  grid-template-areas:
    "Contact-Details Fill-in-Form"
    "Contact-Details Fill-in-Form";
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: center;
}
.Fill-in-Form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "fname lname"
    "mail phone"
    "radioB radioB"
    "Message Message";
  grid-area: Fill-in-Form;
  background-color: wheat;
  color: white;
  padding: 0px 50px 0px 50px;
}
.Fill-in-Form {
}
.Contact-Details {
  grid-area: Contact-Details;
  background-color: #1b1e23;
  color: white;
  padding: 0px 50px 0px 50px;
}
.fname {
  grid-area: fname;
}
.lname {
  grid-area: lname;
}
.mail {
  grid-area: mail;
}
.phone {
  grid-area: phone;
}
.radioB {
  grid-area: radioB;
}
.Message {
  grid-area: Message;
}
.Contact-Details {
  grid-area: Contact-Details;
}
